@import url("reset.css");
h1{color: tomato;
    font-size: large;
    font-family: "Courier New";
    text-align: center;
}
form {
    background-color: #5a6268;
    font-size: medium;
    font-family: "Courier New";
    color: beige;
    text-align: center;
    margin: 20px;
}
